.shared_container{
height: 100vh;
background-color: #62b090fe;
display: flex;
justify-content: flex-end;


}
.registrEnt {
  height: 100%;
  background-color: #62b090fe;
  width: 35%; 
     
  }

  .inputStyle {
    width: 50%; 
  }